<div class="container-md">

  <div class="mb-3">
    <label for="emailInput" class="form-label font-weight-bold">Email</label>
    <input type="email" class="form-control" id="emailInput" [(ngModel)]="username">
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label font-weight-bold">Paswoord</label>
    <input type="password" class="form-control" id="passwordInput" [(ngModel)]="password">
  </div>

<button (click)=checkLogin() class="btn btn-success">
  Login
</button>

  <!-- Submit button -->
<!--  <button type="submit" class="btn btn-primary btn-block">Sign in</button>-->
</div>>
